# Virtual Environment
venv/
env/
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

*.csv

__pycache__/
*.pyc